* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #74566f;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


/* Truck */

.truck {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    height: 40vh;
    width: auto;
}

/* Wheels */

.wheel {
    position: absolute;
    bottom: 9vh;
    height: 27vh;
    width: auto;
    animation: spin 2s linear infinite;
}
.wheel-front {
    left: calc(50% + 9vh);
}
.wheel-back {
    left: calc(50% - 35vh);
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.speed {
    position: absolute;
    top: 5vh;
    right: 5vh;
    font-size: 10vh;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    z-index: 100;
}

/* Background  */

.sky {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
}
.hills {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('images/hills.png');
    background-repeat: repeat-x;
    background-position: left top;
    background-size: auto 100%;
}
.road {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('images/road.png');
    background-repeat: repeat-x;
    background-position: left top;
    background-size: auto 100%;
}

/* Driver */

.driver-body {
    position: absolute;
    bottom: 37.7vh;
    left: calc(50% - 9.5vh);
    height: 10.8vh;
    width: auto;
    transform-origin: bottom center;
    animation: bounce 0.5s ease-in-out infinite;
}
.izzy {
    position: absolute;
    bottom: 44.2vh;
    left: calc(50% - 6.8vh);
    height: 10vh;
    width: auto;
    animation: wobble 1s ease-in-out infinite;
    transform-origin: bottom center;
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.05vh);
    }
}
